body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #000000d3;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
}

.montserrat {
    font-family: 'Montserrat';
}

.garet {
    font-family: 'Garet';
}